# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_SCHEMA=sorgenia

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=sorgenia
MONGO_CONTRACT_COLLECTION=contract
MONGO_ORDER_COLLECTION=order
MONGO_ORDERITEMS_COLLECTION=orderitems
MONGO_TLS_INSECURE=false

# Migration
BATCH_SIZE=500
CONTRACT_NAMES_FILTER=
