# PostgreSQL
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=mydb
POSTGRES_USER=myuser
POSTGRES_PASSWORD=mypassword
POSTGRES_SCHEMA=sorgenia
POSTGRES_TABLE=contracts

# MongoDB
MONGO_URI=mongodb://localhost:27017
MONGO_DB=sorgenia
MONGO_COLLECTION=contracts

# Migration
BATCH_SIZE=500
MAPPING_FILE=./mapping/contracts_mapping.yaml
